body {
div {
    width: 70%; 
    margin: 30px auto; 
    padding: 20px; 
    border-style: double; 
    border-width: 8px; 
    text-align: center;
}

#vung1 {
    background-color: yellow;
    border: 20px solid white;
    color: yellow;
#vung1 p {
    text-align:center;
    width: 100%;
    
img {
     max-width: 90%; 
    height: auto; 
    border: 3px dotted #6c757d; 
    border-radius: 5px;
}

#vung2 {
    background-color: lightblue; 
    color: darkblue;
    border: 70px solid black;
    color: red;
    text-align:center;
}

#vung3 {
    background-color: lightcoral; 
    color: #333;
    border: 20px solid gray;
    color:white;
    text-align:center;
}













