body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#vung1 {
    background-color: yellow;
    padding: 15px;
    margin-bottom: 10px;
    border: 20px solid white;
    color: yellow;
#vung1 p {
    text-align:center;
    width: 100%;
    
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

#vung2 {
    background-color: lightblue; 
    color: darkblue;
    padding: 15px;
    margin-bottom: 10px;
    border: 70px solid black;
    color: red;
    text-align:center;
    width: 100%;
}

#vung3 {
    background-color: lightcoral; 
    color: #333;
    padding: 15px;
    border: 20px solid gray;
    color:white;
    text-align:center;
    width: 100%;
}










